*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar-brand{
    font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 24px;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.backimage{
    width: 100%;
    height: 100vh;
    background-image: url(/images/Rectangle\ 31.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
}
@media (max-width:768px) {
   .backimage{  
       background-size: cover; 
       height: 40vh;          
   }
   
   .booking{
       margin-left: -10px;
   }
   .navbar-nav li{
    line-height: 8px;
}
 .middlepart h1{
font-size: 20px;
 }
 .middlepart p{
     font-size: 9px;
line-height: 8px;
font-weight: bold;
margin-top: 4px;
 }
}

@media (max-width:1200px) {
    .statueofliberty p{
        font-size: 18px;
    }
}
.booking a{
    border: 1px solid#C9453B ;
    display: inline-block;
    width: 153px;
    height: 41px;
    text-align: center;
    background-color: #C9453B ;    
    border-radius: 10px; 
    text-decoration: none;
    color: wheat;
    padding: 5px;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.realtrips h1{
    font-size: 65px;
    font-family: Gelasio;
font-style: normal;
font-weight: bold;
font-size: 65px;
line-height: 120%;
color: #FFFFFF;
}
.realtrips1 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 160%;
color: #FFFFFF;
opacity: 0.6;
margin-top: 10px;
}
.explore{
    border: 1px solid#C9453B ;
    background-color: #C9453B ;    
    border-radius: 10px; 
    margin-top: 10px;  
   width: fit-content;
   padding: 0.5rem;  
}
.explore a{
 text-align: center;
 text-decoration: none;
color: wheat;
}
.poplocation h1{
font-family: Gelasio;
font-style: normal;
font-weight:bold;
font-size: 43px;
line-height: 140%;
color: #000000;
}
.poplocation{
    margin-top: 80px;
    text-align: center;   
}
.poplocation .image1 img{
width: 100%;
}
.offers{
    margin-top: 80px;
    text-align: center;

}
.offers h1{
    font-family: Gelasio;
font-style: normal;
font-weight:bold;
font-size: 43px;
line-height: 140%;
color: #000000;
}
.offers p{
    text-align: justify;
    text-align: center; 
}
.imagelocation img{
    width: 17px;
height: 14px; 
}
.star img{
width: 24px;
height: 22px;
}
.image2 img{
    width: 100%;
}
.offerviews{
     overflow: hidden;
     
}
.daysnights{
    font-size: 16px;
    opacity: 0.6;
}
.box4 .image2{
border-radius: 10px;
}
 .blognews{
     margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
 }
 .blgviewsleft p,.blgviewsright p{
     opacity: 0.6;
 }
.blgviewsleft a,.blgviewsright a,.services a,.legal a{
    text-decoration: none;
    color: #000000;
}
.direction-column {
    flex-direction: column !important;
}
.blgimage img,blgimage1 img{
    width: 100%;
}
@media (max-width:992px) {
    .blgviewsleft{
        margin-bottom:  20px;
    }
    .column{
        display: flex;
        flex-direction: column;
         
    }
    .blgviewsright{
        display: flex;
    }
    .direction-column h4{
        font-size: 20px;
    }
  
}
@media (max-width:768px) {
    .blgviewsright{
        display: flex;
        flex-direction: column;
    }
    .column{
        display: flex;
        flex-direction: row;
        width: 100%;        
    }
}
.footer{
    margin-top: 150px;
}
.footer1 a{
color: #000000;
text-decoration: none;
}
.services a,.legal a{
    line-height: 38px;
}
  
 .footer-form .email{
width: 195px;
height: 44px;
box-sizing: border-box;
 border-radius: 5px;
border: 1px solid  gray;
 

 }
 .footer a{
     font-weight: bold;
 }
 .footer-form .submit{
    width: 83px;
    height: 44px;
    background-color: #C9453B;
    color: wheat;
    border: 1px solid #C9453B;
    border-radius: 5px;
    
 }
 @media (max-width:992px) {
     .subscribe{
         margin-top: 20px;
    }   
 }
 @media (max-width:768px) {
     .services,.legal{
         display: flex;
         justify-content: space-between;
         margin-top: 30px;
         margin-bottom: 10px;
         
     }
      .legal a{
font-size: 14px;
      }
      .services a{
        font-size: 14px;

      }
    
     .footer1 a{
         width: 75%;
     }
 }
 @media (max-width:1200px) {
     .footer-form .email{
         width:150px ;
     }
 }
 
 .box4{
     padding: 0 10px;
 }
 




 




